.home {
    background:url("../assets/vague.png");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    
    .home__contents {
      padding-top: 20vw;
  
      .home__title {
        color:white;
        font-family: glitch;
        font-size: 100px;
        display: flex;
        justify-content: center;
        margin-bottom: 2vw;
      }

      .home__subtitle {
        font-family: 'Abhaya Libre', serif;
        font-size: 36px;
        color:white;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-bottom: 7vw;
      }
  
      .title--span {
        color:#E8C300;
      }
  
      .subtitle--span {
        color:#E8C300;
        margin: 0px 16px;
        font-weight: bold;
      }
    }
  
    .home__cta {
      display: flex;
      justify-content: center;
      color:white;
      
      p {
        background-color: #E8C300;
        font-family: 'Abhaya Libre', serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.16em;
        border-radius: 5px;
        height: 60px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .home__cta:hover {
      cursor: pointer;
    }
  
    .video__intro {
      height: 0vh;
      width: 0vw;
      position: absolute;
      top: 0;
      background-color: #E8C300; 
      z-index: -5;
      opacity: 0;
  
      .video__timeline {
        position: absolute;
        bottom: 0;
        height: 20px;
        width: 100%;
        background-color: rgb(255, 255, 255);
      }
  
      .video__progress {
        background-color: #E8C300;
        height: 100%;
      }
  
      .is-progressing {
        animation: progressBar 72s linear;
      }

      .video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }

      .is-hidden { 
        display: none;
      }
    }
  
    .video__skip {
      display: flex;
      justify-content: center;
      color:white;
      position:absolute;
      bottom:50px;
      right:50px;
      opacity: 0;
      
      p{
        background-color:#E8C300;
        font-family: 'Abhaya Libre', serif;
        font-weight:bold;
        font-size: 18px;
        letter-spacing: 0.16em;
        border-radius: 5px;
        height: 60px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    
    a {
      text-decoration: none;
      color: white;
    }
  
    .is-transition {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      transition: opacity .8s linear, width .8s linear, height .8s linear;
      z-index: 200;
    }
  
    .is-opacity {
      opacity: 1;
      transition: opacity 3s ease-in-out; 
    }
  }