@font-face {
    font-family: "glitch";
    src: url("../fonts/CFGlitchCity-Regular.woff2") format("woff2"),
         url("../fonts/CFGlitchCity-Regular.woff") format("woff");
    font-weight: normal;
}
@font-face {
     font-family: "old news";
     src: url("../fonts/OldNewspaperTypes.woff2") format("woff2"),
          url("../fonts/OldNewspaperTypes.woff") format("woff");
     font-weight: normal;
}