/* Vidéo intro temps de chargement de la barre */
@keyframes progressBar {
    from {
      width: 0%;
    }
  
    to {
      width: 100%
    }
  }

  // SCROLL DOWN HOME EXPEDITION

  @keyframes scroll-indicate {
    0% {
        opacity: 1;	
    }
    
    20% {
        opacity: 0;
    }
    
    40% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

// SHAKE CONFIDENTIAL DOSSIER
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

// ANIMATION VIDEO SUIVANTE
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    transform: translate3d(0px, 0, 0);
  }

  60% {
    transform: translate3d(-30px, 0, 0);
  }

  75% {
    transform: translate3d(5px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}